*{
    margin: 0 auto;
    font-family: monospace;
    
}

body{
    background-color: rgba(97, 106, 149, 0.384);
}

/* ========= \/  CLASS  \/ ======== */

.divTudo{
    font-family: sans-serif disabled;
}

.caixa{
    clear: both;
}

.subTitulo{
    font-size: 20px;
}

/* ================================== */


/*  ========   \/ NAVBAR  \/    ========  */

#navbar{
    background-color: #102344;
    min-height:60px;
    max-width: 100%;
    padding-top: 20px;
    padding-left: 6px;
    padding-bottom: 7px;
    

}

#navbarTitulo{
    color: #ffffff;
    float: left;
    min-width: 30%;
    font-size:16px;
    text-align: left;
    padding-top: 7px;

}
a, a:link, a:hover, a:visited{
    text-decoration: none;
    color: #ffffff;
}


/* ================================== */


/* ============ \/  TABLES  \/ ============ */

#table{
    width:100%;
    background-color: #ffffff;
    padding: 7px 7px 7px 7px;
    border-collapse: collapse;
}

#tableJogos{
    background-color: #ffffff;
}

#tableJogos, .tdTableJogos{
    padding:10px 10px 10px 10px;
}

#tableJogos .tableJogo{
    width: 100%;
}

.tableJogo .thTableJogo{
    text-align:left;
}

.tableJogo .tdClube{
    text-align:left;
    width: 80%;
}


#tableGol{
    width: 200%;

    padding:20px 20px 20px 0px;
    background-color: #ffffff;

}

#tableJogos{
    width: 100%;
    padding: 0.9em;
}

#tableJogos th, #tableJogos td{
    border-bottom: 0px;
}

/* ================================== */




th, td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.319);
    padding: 6px;
    
}

th{
    color: darkgray;
    font-size:14px;
    font-weight:normal;
    text-align:center;
}
td{
    text-align:center;
    font-size: 14px;
}

/*==============  IDs ========== */

#subTituloGrupo{
    font-size:14px;
}

#Gols{
    width:50%;
    margin-left:0 ;
    padding: 0.9em;
}

#Jogos{
    width:100%;
    margin-left:0 ;
    padding: 0.9em;
}
#Classificacao{
    width:90%;
    padding: 0.9em;
}

#section{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding-left: 10px;
    
}


/*=============================== */



.thNomeClube{
    width: 50%;
}

.thUltimasCinco{
    width: 20%;
}



.imgClube{
    width: 20px;
    height: 20px;
}

.tdNomeClube{
text-align: left;
}

.divVit{
    background-image:url('../img/img/v.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;

    margin-right: 5px;
}

.divEmp{
    background-image:url('../img/img/e.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;

    margin-right: 5px;

}
.divDer{
    background-image:url('../img/img/d.svg');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: right;

    margin-right: 5px;

}

/*  ======== DIV MENU ======== */

.divMenu{
    position:absolute;
    bottom:0;
    width: 100%;
    clear:both;
    text-align: center;
    padding-left:21%;
    padding: right 21%;
    
}

.itemMenu{
    float:left;
    color: #fff;
    text-align: center;
    width: 19%;
    height:37px;
    margin-top: 30px;
    padding-right: 15px;
}

.itemMenu:hover{
    background-color: rgba(97, 106, 149, 0.21);
    border-left: 1px solid;
    border-right: 1px solid;
    font-weight: bolder;
    font-size: large;
}

.spanNomeClube{
    color: darkgray;
    font-size: 12px;
}
.tdJogador{
    text-align: left;
    width: 80%;
}
.thJogador{
    text-align:left;
}
.tableJogo{
    width:100%;

}

.tdHorario .tableJogo{
    text-align-last: center;
    font-size: 12px;

}


.tdPosicao{
    width: 3%;
    font-size:14px;
}
.tdImgClube{
    width: 5%;
}

.thUltimas{
    width: 28%;
}


